---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bierkastenlauf Karlsruhe 2022">
	<main>
		<div class="header">
			<h1> <span class="text-gradient">Bierkastenlauf Karlsruhe 2022</span></h1>
			<img src="/beerBox.svg" class="logo">
		</div>
		<ul role="list" class="link-card-grid">
			<li>
				<a href="#infos">
					<img src="/infoBeer.svg">
				</a>
			</li>
			<li>
				<a href="#regeln">
					<img src="/rulesBeer.svg">
				</a>
			</li>
			<li>

				<a href="#strecke">
					<img src="/routeBeer.svg">
				</a>
			</li>
			<li>
				<a href="#team">
					<img src="/teamBeer.svg">
				</a>
			</li>
		</ul>
		<hr>
		<section id="infos">
			<div>
				<h2>
					Infos
				</h2>
				<p>
					Herzlich willkommen zum Bierkastenlauf Karlsruhe 2022! <br><br>
					Auf dieser Website findet ihr alle Informationen und Regeln des diesjährigen Bierkastenlaufs. Für diejenigen, die noch nicht von diesem kulturreichen und weltbekannten Event gehört haben: Der Bierkastenlauf ist ein von einer <a href="#team">Gruppe netter Menschen</a> organisiertes Sportevent, welches immer nach dem Kolloquium der 4. Semester statt findet. Diese Jahr fällt der Bierkastenlauf auf den 30.09.2022. <br>
					Beim Bierkastenlauf geht es darum in 4er Teams einen Kasten Bier zu einem Ziel zu tragen. Da ein voller Kasten für viel extra Gewicht sorgt, muss er bei Überschreitung der Ziellinie leer sein (was auch sonst). Mehr zu den genauen Regeln <a href="#regeln">hier</a>. Da der Bierakstenlauf vor allem dazu dienen soll, neue Leute kennenzulernen, ist die Anmeldung nur in 2er Teams möglich, welche dann anhand eines höchst komplexen Algorithmus zu ihrem perfekten 2er-Teampartner finden (Tinder wäre neidisch auf ein so gutes Match-System). Um euch und euren Lieblingstrinkpartner anzumelden, benutzt einfach <a href="https://forms.gle/yt8aeRPeuh68hi3Q8">dieses Forumular</a> und füllt die Fragen wahrheitsgemäß aus, um eine perfekte Teamzuweisung zu garantieren. 
				</p>
				<h4>
					Eure Benefits
				</h4>
				<p>
					Auch wenn die Teilnahme am Bierkastenlauf eigentlich schon Vorteil genug ist, hier noch eine Liste an tollen Vorteilen, die ihr genießt, wenn ihr am Bierakstenlauf teilnehmt. 
					<ul>
						<li>Ihr nehmt am Bierkastenlauf teil (obviously)</li>
						<li>Ihr trinkt 2.5 l Bier</li>
						<li>Sport ist gesund</li>
						<li>Tolle Preise für die Gewinner</li>
						<li>Jeder Läufer ist ein Gewinner!</li>
						<li>(spirituelle) Erweiterung des Horizonts!</li>
						<li>(für Erstis) Vorbereitung der Leber aufs Studentenleben</li>
						<li>(für Erstis) Neue Connections (auch alte Hasen)</li>
						<li>(für Anreisende) Die volle Kerlsruhe Experience</li>
					</ul>
				</p>
			</div>
		</section>
		<section id="regeln">
			<div>
				<h2>
					Regeln
				</h2>
				<p>
					Zu jedem ordentlichen Sportevent gehört natürlich ein Satz Regeln. Die folgenden Regeln haben sich bewährt, um unärenhaftes Verhalten zu verhindern:
					<ul>
						<li>Alle Teilnehmenden müssen sich um 18 Uhr an der <a href="https://goo.gl/maps/GgkjwAUnHBPm7kaL7">DHBW</a> einfinden.</li>
						<li>Jedes Team muss seinen Bierkasten selbst organisieren</li>
						<li>Die Biersorte ist egal, sofern der Alkoholgehalt &#8805 4.9% ist</li>
						<li>Der Bierkasten muss die Größe 20x0.5l haben</li>
						<li>Alle Kronkorken müssen mit über die Ziellinie gebracht werden: Umweltverschmutzung wird nicht geduldet!</li>
						<li>Das gesamte Bier muss bis mindestens 5 min nach Überschreitung der Ziellinie im Körper bleiben (nicht kotzen). Andernfalls kann das Team nicht mehr den ersten Platz machen und bekommt eine Strafe</li>
						<li>Es darf nicht von der vorgegebenen <a href="#route">Strecke</a> abgewischen werden</li>
						<li>Weitere Überraschungsregeln ;)</li>
					</ul>
					Sollte eine der oberen Regeln gebrochen werden, legt das Kremium eine Strafe für das Team fest. Diese kann von Strafshots bis hin zu Disqualifikation oder Ähnlichem gehen.
				</p>
			</div>
		</section>
		<section id="strecke">
			<div>
				<h2>
					Strecke
				</h2>
				<p>
					Wie jedes Jahr startet der Bierkastenlauf an der <a href="https://goo.gl/maps/GgkjwAUnHBPm7kaL7">DHBW</a> und endet im Schloß/ Fasanengarten. Außerdem werden entlang der Strecke Sticker zur besseren Orientierung angebracht. 
				</p>
			</div>
		</section>
		<section id="team">
			<div>
				<h2>
					Organisations Team
				</h2>
				<p>
					Bla
				</p>
			</div>
		</section>
	</main>
	


</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&display=swap');
	:root {
		--astro-gradient: linear-gradient(0deg, #233D11, #233D11);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 80ch;
		font-family: 'GFS Neohellenic', sans-serif;
	}
	hr{
		height: 1px;
		background-color: #233D11;
		border-style: none;
	}
	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
	.logo{
		max-width: 30ch;
	}
	.header{
		display: flex;
		margin-bottom: 2ch;
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 1rem;
		padding: 0;
		list-style: none;
	}
</style>
