---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bierkastenlauf Karlsruhe 2022">
	<main>
		<h1> <span class="text-gradient">Bierkastenlauf Karlsruhe 2022</span></h1>
		<ul role="list" class="link-card-grid">
			<li>
				<a href="#infos">
					<img src="/infoBeer.svg">
				</a>
			</li>
			<li>
				<a href="#regeln">
					<img src="/infoBeer.svg">
				</a>
			</li>
			<li>
				<a href="#strecke">
					<img src="/infoBeer.svg">
				</a>
			</li>
			<li>
				<a href="#team">
					<img src="/infoBeer.svg">
				</a>
			</li>
		</ul>
		<hr>
		<img src="/beerBox.svg" class="logo">
		<section id="infos">
			<div>
				<h2>
					Infos
				</h2>
				<p>
					Bla
				</p>
			</div>
		</section>
		<section id="regeln">
			<div>
				<h2>
					Regeln
				</h2>
				<p>
					Bla
				</p>
			</div>
		</section>
		<section id="strecke">
			<div>
				<h2>
					Strecke
				</h2>
				<p>
					Bla
				</p>
			</div>
		</section>
		<section id="team">
			<div>
				<h2>
					Organisations Team
				</h2>
				<p>
					Bla
				</p>
			</div>
		</section>
	</main>
	


</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #233D11, #233D11);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	li{
		list-style: none;
	}

	hr{
		height: 1px;
		background-color: #233D11;
		border-style: none;
	}
	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
	.logo{
		max-width: 60ch;
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 1rem;
		padding: 0;
		background-color: #233D11;
	}
</style>
