---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bierkastenlauf Karlsruhe 2022">
	<main>
		<div class="landingPage">
			<h1 class="mobile"> <span class="text-gradient">Bierkastenlauf Karlsruhe 2022</span></h1>
			<img src="/BierkastenStickerNurKasten.svg" class="logo mobile">
			<div class="header">
				<h1> <span class="text-gradient">Bierkastenlauf Karlsruhe 2022</span></h1>
				<img src="/BierkastenStickerNurKasten.svg" class="logo">
			</div>
			<ul role="list" class="link-card-grid">
				<li class="bottle">
					<a href="#infos">
						<img src="/infoBeer.svg">
					</a>
				</li>
				<li class="bottle">
					<a href="#regeln">
						<img src="/rulesBeer.svg">
					</a>
				</li>
				<li class="bottle">
	
					<a href="#strecke">
						<img src="/routeBeer.svg">
					</a>
				</li>
				<li class="bottle">
					<a href="#team">
						<img src="/teamBeer.svg">
					</a>
				</li>
			</ul>
		</div>
		<hr>
		<section id="infos">
			<div class="disclaimer">
				<h2>Disclaimer!!!</h2>
				<p>Der Bierkastenlauf ist keine Veranstaltung, sondern definiert lediglich Regeln und Rahmenbedingungen für die Sportart des Bierkastenlaufens. Dieser Lauf steht in keinem Zusammenhang mit der DHBW-Karlsruhe. Diese Seite dient lediglich dazu zu Informieren und ist rein für den privaten Gebrauch gedacht.</p>
			</div>
			<div>
				<h2>
					Infos
				</h2>
				<p>
					Herzlich willkommen zum Bierkastenlauf Karlsruhe! <br><br>
					Auf dieser Website findet ihr alle Informationen und Regeln des Bierkastenlaufs. Für diejenigen, die noch nicht von dieser kulturreichen und weltbekannten Sportart gehört haben: Der Bierkastenlauf ist ein von eine Sportart, welche vermehrt nach dem Kolloquium der 4. Semester praktiziert wird. Dieses Jahr fällt das Ende des Kolloquiums auf den 30.09.2022. <br>
					Beim Bierkastenlauf geht es darum in 4er Teams einen Kasten Bier zu einem Ziel zu tragen. Da ein voller Kasten für viel extra Gewicht sorgt, muss er bei Überschreitung der Ziellinie leer sein (was auch sonst). Mehr zu den genauen Regeln <a href="#regeln">hier</a>. Da der Bierkastenlauf vor allem dazu dienen soll, neue Leute kennenzulernen, ist die Anmeldung nur in 2er Teams möglich, welche dann anhand eines höchst komplexen Algorithmus zu ihrem perfekten 2er-Teampartner finden (Tinder wäre neidisch auf ein so gutes Match-System). Um euch und euren Lieblingstrinkpartner (oder auch einzeln) anzumelden klickt einfach auf den entsprechenden Bierkasten und füllt die Fragen wahrheitsgemäß aus, um eine perfekte Teamzuweisung zu garantieren. Wenn ihr euch alleine anmeldet suchen wir euch einen geeigneten Teampartner. 
				</p>
				<div class="registration-grid">
					<a href="https://forms.gle/yt8aeRPeuh68hi3Q8" class="box">
						<img src="/Bierkasten2erTeams.svg">
					</a>
					<a href="https://docs.google.com/forms/d/e/1FAIpQLSdQhzV9hYkT9z2SaiRFoDtW0jYxtRE9JrUGWwxwqsKc85RO0g/viewform" class="box">
						<img src="/Bierkasten1erTeams.svg">
					</a>
				</div>
				<h4>
					Eure Benefits
				</h4>
				<p>
					Auch wenn die Teilnahme am Bierkastenlauf eigentlich schon Vorteil genug ist, hier noch eine Liste an tollen Vorteilen, die ihr genießt, wenn ihr am Bierkastenlauf teilnehmt. 
					<ul>
						<li>Ihr nehmt am Bierkastenlauf teil (obviously)</li>
						<li>Ihr trinkt 2.5 l Bier</li>
						<li>Sport ist gesund</li>
						<li>Tolle Preise für die Gewinner</li>
						<li>Jeder Läufer ist ein Gewinner!</li>
						<li>(spirituelle) Erweiterung des Horizonts!</li>
						<li>(für Erstis) Vorbereitung der Leber aufs Studentenleben</li>
						<li>(für Erstis) Neue Connections (auch alte Hasen)</li>
						<li>(für Anreisende) Die volle Kerlsruhe Experience</li>
					</ul>
				</p>
			</div>
		</section>
		<section id="regeln">
			<div>
				<h2>
					Regeln
				</h2>
				<p>
					Zu jeder ordentlichen Sportart gehört natürlich ein Satz Regeln. Die folgenden Regeln haben sich bewährt, um unärenhaftes Verhalten zu verhindern:
					<ul>
						<li>Alle Teilnehmenden müssen sich um 18 Uhr an der <a href="https://goo.gl/maps/GgkjwAUnHBPm7kaL7">DHBW</a> einfinden.</li>
						<li>Jedes Team muss seinen Bierkasten selbst organisieren</li>
						<li>Die Biersorte ist egal, sofern der Alkoholgehalt &#8805 4.9% ist</li>
						<li>Es sind nur handelsübliche Bierkästen mit 20 Flaschen à 0,5 Liter (NRW-Flaschen „Vichyform“) und einer Grundfläche von 400 mm x 300 mm bei einer Höhe zwischen 260 bis 300mm erlaubt.</li>
						<li>Jeder Bierkasten wird vor Beginn des Laufs vom Komitee überprüft und bekommt einen Approval-Sticker</li>
						<li>Alle Kronkorken müssen mit über die Ziellinie gebracht werden: Umweltverschmutzung wird nicht geduldet!</li>
						<li>Das gesamte Bier muss bis mindestens 5 min nach Überschreitung der Ziellinie im Körper bleiben (nicht kotzen). Andernfalls kann das Team nicht mehr den ersten Platz machen und bekommt eine Strafe</li>
						<li>Es darf nicht von der vorgegebenen <a href="#route">Strecke</a> abgewichen werden</li>
						<li>Weitere Überraschungsregeln ;)</li>
					</ul>
					Sollte eine der oberen Regeln gebrochen werden, legt das Gremium eine Strafe für das Team fest. Diese kann von Strafshots bis hin zu Disqualifikation oder Ähnlichem gehen.
				</p>
			</div>
		</section>
		<section id="strecke">
			<div class="mapDiv">
				<h2>
					Strecke
				</h2>
				<p>
					Wie jedes Jahr startet der Bierkastenlauf an der <a href="https://goo.gl/maps/GgkjwAUnHBPm7kaL7">DHBW</a> und endet im Schloss/ Fasanengarten. Außerdem werden entlang der Strecke Sticker zur besseren Orientierung angebracht. 
				</p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m42!1m8!1m3!1d10466.116533970806!2d8.3957088!3d49.0195425!3m2!1i1024!2i768!4f13.1!4m31!3e2!4m5!1s0x47970706c04191d7%3A0x625d232c4ae77fc2!2sDHBW%20Karlsruhe%2C%20Erzbergerstra%C3%9Fe%20121%2C%2076133%20Karlsruhe%2C%20Deutschland!3m2!1d49.02632!2d8.38544!4m3!3m2!1d49.0175069!2d8.3848202!4m3!3m2!1d49.0151225!2d8.397967399999999!4m3!3m2!1d49.014354!2d8.39836!4m3!3m2!1d49.017759299999994!2d8.4025354!4m3!3m2!1d49.0141138!2d8.4043394!4m3!3m2!1d49.0136555!2d8.4122576!5e0!3m2!1sen!2sde!4v1662202292467!5m2!1sen!2sde" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</section>
		<section id="team">
			<div>
				<h2>
					Organisations Team
				</h2>
				<div class="name-grid">
					<div class="name-grid-element">
						<h3>Cesar der Rauchmelderschreck</h3>
						<p><u>Besondere Fähigkeiten/ Eigenschaften:</u></p>
						<ul>
							<li>Zähne sind auch Bieröffner</li>
							<li>Korn-Padawan</li>
						</ul>
					</div>
					<div class="name-grid-element">
						<h3>Fabi der Korn-Senpai</h3>
					<p><u>Besondere Fähigkeiten/ Eigenschaften:</u></p>
					<ul>
						<li>Born for Korn</li>
						<li>Schaut beim rausreißen von Rauchmelden zu</li>
					</ul>
					</div>	
					<div class="name-grid-element">
						<h3>Jakob der Wein-Senpai</h3>
						<p><u>Besondere Fähigkeiten/ Eigenschaften:</u></p>
						<ul>
							<li>Schärfe ist ein Fremdwort</li>
							<li>Probleme bei Mischkonsum ebenso</li>
						</ul>
					</div>
					<div class="name-grid-element">
						<h3>Lukas der KORNaisseur</h3>
					<p><u>Besondere Fähigkeiten/ Eigenschaften:</u></p>
					<ul>
						<li>Berentzen Markenbotschaftler</li>
						<li>Zahnlückenjohnny</li>
					</ul>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&display=swap');
	:root {
		--astro-gradient: linear-gradient(0deg, #233D11, #233D11);
	}
	:global(html) {
		scroll-behavior: smooth;
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 80ch;
		font-family: 'GFS Neohellenic', sans-serif;
	}
	hr{
		height: 1px;
		background-color: #233D11;
		border-style: none;
	}
	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}


	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
	.mobile{
		display: none;
	}
	.logo{
		max-width: 30ch;
	}
	.header{
		display: flex;
		margin-bottom: 4ch;
	}
	.landingPage{
			height: auto;
	}
	
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.disclaimer {
		border: 1px solid red;
		padding-left: 50px;
		padding-right: 50px;
	}
	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: auto auto auto auto;
		padding: 0;
		list-style: none;
	}
	.bottle:hover {
  		transform: scale(1.2);
	}
	.registration-grid {
		display: grid;
		grid-template-columns: auto auto;
		list-style: none;
		justify-items: center;

	}
	.box {
		width:70%;
	}
	.box:hover {
		transform: scale(1.05);
	}
	.name-grid {
		display: grid;
		grid-template-columns: auto auto;
	}
	.name-grid-element {
		width: 40ch;
	}
	#strecke {
		height: 400px
	}
	.mapDiv {
		height:100%
	}
	#team {
		padding-top: 130px;
	}
	@media (max-width: 450px) { 
		.header{
			display: none;
		}
		h1 {
			text-align: center;
			margin-bottom: 2ch;
		}
		.mobile{
			display: flex;
		}
		.link-card-grid{
			display: flex;
		}
		.logo{
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 4ch;
		}
		.landingPage{
			max-height: 100vh ;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		div .name-grid{
			display: flex;
			flex-direction: column;
		}
	 }

</style>
